<div class="container" style="margin:50px auto">
    <div class="row">
        <div class="col-6 offset-3">
            <h4>Modificar</h4>
            <form method="post" action="/admin/hoy/modificar" enctype="multipart/form-data">
                <input type="hidden" value="{{hoy.id}}" name="id">

                <div class="mb-3 row">
                    <input type="text" placeholder="Título" value="{{hoy.titulo}}" class="form-control" name="titulo">
                </div>

                <div class="mb-3 row">
                    <textarea placeholder="Subtitulo" class="form-control" name="Subtitulo">{{hoy.Subtitulo}}</textarea>
                </div>

                <div class="mb-3 row">
                    <p>
                        <label>Imagen:<input type="file" class="form-control" name="imagen" id="imagen" /></label>
                    </p>
                    <p>
                        <label><input type="checkbox" name="img_delete" id="img_delete" value="1">
                            Eliminar imagen actual?</label>
                        <input type="hidden" name="img_original" value="{{hoy.img_id}}">
                    </p>
                </div>

                <div class="form-group">
                    <textarea placeholder="Cuerpo" class="form-control" name="Cuerpo">{{hoy.Cuerpo}}</textarea>
                </div>

                <button type="submit" class="btn btn-primary">Modificar</button>

            </form>
            {{#if error}}
            <h5>{{message}}</h5>
            {{/if}}
        </div>
    </div>
</div>